---
import Section from "@/components/Section.astro";

import {personalData} from "@cv";
const {summary} = personalData;
---

<Section title="Sobre Mí">
    <p>
        {summary.split('--').map(line => <>{line}<br/></>)}
    </p>
</Section>
