---
import Section from "@/components/Section.astro";
import CharacteristicsCard from "@/components/CharacteristicsCard.astro";

import {profesionalSkill} from "@cv";
const {technicalSkills, softSkills, summary } = profesionalSkill
---

<Section title="Capacidades como Ingeniero Informático">
    <p>{summary}</p>

    <section>
        <CharacteristicsCard title="Habilidades destacadas" characteristics={technicalSkills} />
        
        <CharacteristicsCard title="Aptitudes destacadas" characteristics={softSkills} />
    </section>

</Section>

<style>
    section {
        margin-top: .8rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    @media print {
        section {
            gap: .6rem;
        }
    }
</style>

