---
import Section from "@/components/Section.astro";
import Check from "@/icons/Check.astro";

import {profesionalSkill} from "@cv";
const {technicalSkills, softSkills, summary } = profesionalSkill
---

<Section title="Capacidades como Ingeniero Informático">
    <p>{summary}</p>

    <section>
        <article>
            <header>
                <h3>Habilidades destacadas</h3>
            </header>
            <ul>
                {
                    technicalSkills.map((item) => (
                        <li>
                            <p>
                                <Check />
                            </p>
                            <p>
                                {item}
                            </p>
                        </li>
                    ))
                }
            </ul>
        </article>

        <article>
            <header>
                <h3>Aptitudes destacadas</h3>
            </header>
            <ul>
                {
                    softSkills.map((item) => (
                        <li>
                            <p>
                                <Check />
                            </p>
                            <p>                            
                                {item}
                            </p>
                        </li>
                    ))
                }
            </ul>
        </article>
    </section>

</Section>

<style>
    section {
        margin-top: .8rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    article {
        border: 1px solid #045669;
        border-radius: 8px;
        padding: 1rem;
    }

    header {
        margin-bottom: .8rem;
    }

    li {
        display: flex;
        gap: .6rem;
        padding: .1rem;
    }

    @media print {
        section {
            gap: .6rem;
        }
    }
</style>

