---
import Layout from '@/layouts/Layout.astro';
import {personalData} from "@cv";

import PersonalData from '@/components/sections/PersonalData.astro';
import About from '@/components/sections/About.astro';
import Experience from '@/components/sections/Experience.astro';
import Education from '@/components/sections/Education.astro';
import DeveloperCapacity from '@/components/sections/DeveloperCapacity.astro';
import WorkCapacity from '@/components/sections/WorkCapacity.astro';

import KeyboardManager from '@/components/KeyboardManager.astro';
import Footer from '@/components/sections/Footer.astro';

const {name} = personalData;
---

<Layout title={name}>
	<main>
		<PersonalData />
		<About />
		<Experience />
		<Education />
		<WorkCapacity />
		<DeveloperCapacity />
		<Footer />
	</main>

	<KeyboardManager />
</Layout>

<style>

	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}

	@media (width <= 700px) {
		main {
			padding: 2rem;
		}
	}
	
</style>
