---
import KeyboardManager from '@/components/KeyboardManager.astro';
import PersonalData from '@/components/sections/PersonalData.astro';
import Layout from '@/layouts/Layout.astro';
import personalData from "@/components/sections/PersonalData.astro";

const {name} = personalData;
---

<Layout title={name}>
	<main>
		<PersonalData />
		
	</main>

	<KeyboardManager />
</Layout>

<style>
	
</style>
