---
const {title} = Astro.props;
---

<section>
    {title && <h2>{title}</h2>}
    <slot />
</section>

<style>

    section {
        max-width: 700px;
        margin: 0 auto 48px;
        color: #045669;
    }

    h2 {
        margin-bottom: .8rem;
        font-weight: 700;
        line-height: 1.5;
        font-size: 1.6rem;
    }

</style>